ul, li {
    display: block;
    text-align: left;
}

.menu {
    width: 20%;
    float: left;
}


#article {
    display: block;
    width: 60%;
    float: right;
    margin-right: 20%;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .menu {
        float: none;
        width: auto;
    }

    li {
        text-align: center;
    }

    #article {
        float: none;
        width: auto;
        margin-right: 5%;
        margin-left: 5%;
    }
}
