* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 1em;
}

a {
    text-decoration: none;
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    margin: 1em;
}

header {
    margin: 1em;
}

footer {
    margin: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }
    body a {
        color: #809fff;
    }
}
