ul, li {
    display: block;
    text-align: left;
}

ul {
    width: 30%;
    float: left;
}


#article {
    display: block;
    width: 60%;
    float: right;
    margin-right: 10%;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    ul {
        float: none;
        width: auto;
    }

    li {
        text-align: center;
    }

    #article {
        float: none;
        width: auto;
        margin-right: 5%;
        margin-left: 5%;
    }
}
